{
  "presets": [
    ["@babel/preset-env", {"modules": "cjs"}], "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize", "transform-react-remove-prop-types"]
    }
  },
  "sourceType": "module"
}