#about-me {
  font-weight: normal;
  @include darkenBackgroundImage("../media/backgroundIms/wood-deck.jpeg", 0.50, 0.50);

  color: white;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  div {
    padding: 1rem;

    p {
      font-size: 4.5vw;

      a {
        color: white;
        text-decoration: underline;
        
        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (min-width: 768px) {
      p {
        font-size: 2.33vw;
      }
    }
  }
}