.content-section {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;

  .content-header-cont {
    display: block;
    margin: {
      top: 100px; bottom: 100px;
      left: auto; right: auto;
    }
    width: 90%;
    height: auto;

    h1.content-header {
      display: block;
      border-left: 4px solid white;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      padding: {
        left: 0.5%;
        top: 2px;
        bottom: 2px;
      }

      font-size: 3.75vw;
      font-weight: 700;
    }
    small {
      padding: {
        top: 8px;
        left: 1%;
      }
      font-weight: 700;
      font-size: 1.5vw;
    }
    .resume-btn {
      position: relative;
      top: -8vh;
      float: right;
    }
  }
}