@mixin backgroundImage($url, $opacity1: 0.5, $opacity2: 0.5) {
  background: linear-gradient(rgba(0,0,0, $opacity1), rgba(0,0,0,$opacity2)),
    url("#{$url}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-section {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;

  .content-header-cont {
    display: block;
    margin: {
      top: 100px; bottom: 75px;
      left: auto; right: auto;
    }
    width: 90%;
    height: auto;

    h1.content-header {
      display: block;
      border-left: 4px solid white;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      padding: {
        left: 0.5%;
        top: 2px;
        bottom: 2px;
      }

      font-size: 3.5em;
      font-weight: 700;
    }
    small {
      padding: {
        top: 8px;
        left: 1%;
      }
      font-weight: 700;
      font-size: 1.25em;
    }
  }
}

#meet-me {
  background: linear-gradient(rgba(0, 0, 0, 0.35) 38%, transparent 65%),
              url("../media/starry-night.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-weight: 300;
  color: white;
  text-align: center;

  h1 {
    position: relative;
    top: 200px;
    font-size: 4.5em;

    small {
      display: block;
      padding-top: 8px;
      font-size: 28.65px;
      font-size: 0.35em;
    }
  }

  button {
    position: relative;
    top: 45vh;
    margin: auto;
  }
}

#about-me {
  font-weight: normal;
  @include backgroundImage("../media/wood-deck.jpeg", 0.60, 0.60);

  color: white;
  text-align: center;

  .about-cont {
    display: block;
    height: auto;
    width: 70%;
    margin: 100px auto;

    h1 {
      font-size: 28.65px;
      font-size: 2.15em;

      padding: 25px 0;
    }

    b h1 {
      font-weight: 700;
      display: block;
    }
  }
}

#skills {
  @include backgroundImage("../media/cappuccino.jpeg");
  font-weight: normal;
  color: white;

  #skills-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;

    .skills-section {
      display: inline-block;
      width: auto;
      font-size: 1.75em;
      line-height: 35px;
      margin: 0 auto;

      &:first-of-type {
        margin-left: 5%;
      }

      h4 {
        font-weight: 700;
        padding-bottom: 12px;
      }
    }
  }
}