#experience{
  @include darkenBackgroundImage("../media/backgroundIms/beams.jpeg", 0.4, 0.4);
  @include translateImageScrollFix();

  color: white;

  #experience-carousel {
    .experience-block {
      display: inline-block;
      width: 80%;
      height: 65vh;
      font-size: 1.85vw;
      margin-left: 10%;
      position: absolute;

      section {
        display: inline-block;
        position: absolute;
        line-height: 1.1em;

        &.description {
          width: 40%;

          h1, p {
            padding-right: 5%;
          }

          h1 {
            font-size: 1.18em;
            font-weight: 700;
          }
        }

        &.bullet-points {
          width: 60%;
          left: 40%;

          ul {
            list-style: initial;
            padding-left: 5%;
            width: 95%;

            li.bullet {
              padding-top: 1rem;
              width: 100%;

              &:first-of-type {
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}