#footer {
    background: -webkit-linear-gradient(rgba(0,0,0, 0.50), rgba(0,0,0, 0.50)),
        url("../media/backgroundIms/starry-night-footer.jpg") no-repeat center center fixed;
    background: linear-gradient(rgba(0,0,0, 0.50), rgba(0,0,0,0.50)),
        url("../media/backgroundIms/starry-night-footer.jpg") no-repeat center center fixed;
    -webkit-background-size: 125% 50%;
    -moz-background-size: 125% 50%;
    -o-background-size: 125% 50%;
    background-size: 125% 50%;
    
    background-position: bottom;

    display: block;
    height: 45vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    .content-header-cont {
        margin-bottom: 5px;
    }

    .contact-info {
        font-size: 1.75vw;
        h3 {font-size: inherit !important;}
    }

    .social-icons {
        height: 175px;

        div.row {
            width: 75%;
            a {
                color: white;
                &:hover {
                    color: #aaa;
                }
            }
        }
    }
}