#terminal-icon {
    // TODO: Avoid this approach. Scale using the viewbox instead.
    padding: 15% 0px;
}

#intro {
    color: white;
    margin: 0 0 15% 0;
    white-space: nowrap;
    
    // TODO: Is using vw for font scaling a good idea?
    h1 {
        font-size: 10vw;
        line-height: 8.33vw;
    }
    small {
        font-size: 3.15vw;
    }
}