#journey {
    background: white;
    
    h2 {
        color: $text-blue;
        font-size: 5vw;
        text-align: center;
        margin: 10% 0;
    }

    .text-area {
        margin-bottom: 10%;
    }
}