#journey {
    background: white;
    
    h2 {
        color: #2F5A92;
        font-size: 5vw;
        text-align: center;
        margin: 10% 0;
    }

    .text-area {
        margin-bottom: 15%;
    }
}