#projects {
  @include darkenBackgroundImage("../media/backgroundIms/lightbulb.jpeg", 0.3, 0.3);
  color: white;

  #project-carousel {
    padding: 0 5rem;
    .project {
      height: 45vh;
      margin-top: 7rem;

      .project-top {
        height: 25vh;
        overflow: hidden;
        padding: 6% 12%;

        img {
          margin: auto;
          width: 100%;
          height: 100%;
        }
      }
      .project-bottom {
        font-size: 1.85vw;
        text-align: center;
        padding-top: 50px;
      }
    }
  }
}

.size-modal {
  width: 66%;

  .modal-content, .modal-body *, .modal-title, .modal-footer {
    color: black !important;
  }
}

.modal-body {
  img {
    margin: auto;
    max-height: 40vh;
  }
}