#skills {
  // BLUE
  background: -webkit-linear-gradient(to right, rgba(#2193b0, 0.75) 45%, rgba(#6dd5ed, 0.0)),
  url("../media/backgroundIms/cappuccino.jpeg") no-repeat center center fixed;
  // BLUE
  background: linear-gradient(to right, rgba(#2193b0, 0.75) 45%, rgba(#6dd5ed, 0.0)),
  url("../media/backgroundIms/cappuccino.jpeg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-weight: normal;
  color: white;

  #skills-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;

    .skills-section {
      display: inline-block;
      width: auto;
      font-size: 1.75em;
      line-height: 35px;
      margin: 0 auto;

      &:first-of-type {
        margin-left: 5%;
      }

      h4 {
        font-weight: 700;
        padding-bottom: 12px;
      }
    }
  }
}