#skills {
  // BLUE
  background: -webkit-linear-gradient(to right, rgba(#2193b0, 0.75) 45%, rgba(#6dd5ed, 0.15)),
  url("../media/backgroundIms/cappuccino.jpeg") no-repeat center center /*fixed*/;
  // BLUE
  background: linear-gradient(to right, rgba(#2193b0, 0.75) 45%, rgba(#6dd5ed, 0.15)),
  url("../media/backgroundIms/cappuccino.jpeg") no-repeat center center /*fixed*/;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include translateImageScrollFix();

  font-weight: normal;
  color: white;

  #skills-cont {
    margin: 5%;

    .skills-section {
      display: inline-block;
      width: auto;
      font-size: 1.75vw;
      line-height: 2.25vw;
      margin: 0 auto;

      h4 {
        font-size: 1.95vw;
        font-weight: 700;
        padding-bottom: 12px;
      }
    }
  }
}