/* CHANGE THESE */
$max-width-sm : 20em; // 360px
$max-width-msm : 30em; // 480px
$max-width-med : 50em; // 768px
$max-width-mlg : 64em; // 1024px
$max-width-lg : 120em; // 1920px

$accent-blue : #557CD4;