$primary-font: 'Quicksand','Helvetica', 'Arial', sans-serif;
$secondary-font: 'Halant', 'Times New Roman', 'Times', serif;

$font-size: 16px;

$primary-color: #3c2748;
$highlight-color: lighten($primary-color, 20%);