@mixin darkenBackgroundImage($url, $opacity1: 0.5, $opacity2: 0.5) {
  background: -webkit-linear-gradient(rgba(0,0,0, $opacity1), rgba(0,0,0,$opacity2)),
    url("#{$url}") no-repeat center center fixed;
  background: linear-gradient(rgba(0,0,0, $opacity1), rgba(0,0,0,$opacity2)),
    url("#{$url}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}