// import Bootstrap mixins
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import './components/all';

html {
    // for rem sizing
    font-size: calc(12px + (40 - 12) * ((100vw - 320px) / (2048 - 320)));
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

#root {
    background-image: linear-gradient(#320E68, #305891, #2F9EB7);
}