@import './global/all';
// import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import './components/all';

html {
    // for rem sizing
    font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (2048 - 320)));
}

body {
    overflow-x: hidden !important;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

@include media-breakpoint-up(md) {
    body{
        font-size: 0.75rem;
    }
}

#root {
    background-image: linear-gradient(#320E68, #305891, #2F9EB7);
}