@import '_includes/reset';
@import '_includes/mixins';

// Mobile first design
// no header if mobile, not needed!
header {
  display: block;
  width: 100vw;
  height: 90px;
  background-color: #1976D2;

  #header-title {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    color: white;
    font-size: 11.5vw;
    letter-spacing: 0.03em;
    padding: {left: 5%; top: 4px;}

    small {
      display: block;
      font-style: italic;
      position: relative;
      top: -4px;
    }
  }
}

@media screen and (min-device-width: $max-width-mlg) {
  header {
    display: block;
    width: 100vw;
    height: 27.5vh;
    background: black url("/assets/code.jpeg") center no-repeat;
    background-size: 100% 100%;

    @include box-shadow(1px, 1px, 2px, #333);
  }

  #header-title{ display: none;}

  /* Initial position of element */
  #profile-image {
    display: block;
    position: relative;
    top: 13.5vh;
    left: 4px;
  }

  /* display the actual circle */
  #profile-image:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    /* fallback for older browsers */
    width: 100%;
    padding-bottom: 100%;
    /* background picture */
    background: black url("/assets/profile.jpeg") center no-repeat;
    background-size: 100% 100%;
    border: 5px solid white;

    /* actually display :before */
    content: '';
    display: block;

    /* make it a circle */
    padding-bottom: 0vw;
    min-height: 150px;
    min-width: 150px;
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-device-width: $max-width-med) {
  nav {
    display: block;
    width: 100vw;
    height: 45px;
    background-color: #2196F3;

    .down-arrow {
      display: inline-block;
      position: relative;
      top: 10px;
      left: 8px;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;

      border-top: 11px solid #fff;
    }

    .current_page {
      width: 35vw;
      height: 45px;
      display: inline-block;

      p {
        padding: {top: 8px; left: 0.85vw;}
        font-size: 1.15em;
        font-weight: bold;
      }
    }

    #nav-list {
      display: block;
      position: relative;
      top: -9px;
      width: 100vw;
      height: 0;
      padding-left: 10vw;
      overflow: hidden;
      z-index: 100;

      background-color: #2a7ae2;
      color: white;

      -webkit-transition: height 250ms;
      -moz-transition: height 250ms;
      -ms-transition: height 250ms;
      -o-transition: height 250ms;
      transition: height 250ms;

      &.active {
        height: 225px;
      }

      a.list-item {
        display: block;
        float: left;
        width: 75%;
        height: 45px;
        position: static !important;
        top: 0 !important;

        li {
          //text-align: center;
          display: block;
          width: 75%;
          margin: 8px 0;
        }

        p {
          font-weight: bold;
          font-size: 1.15em;
        }
      }
    }

    #collapse {
      display: inline-block;
      float: left;
      clear: none;
      height: 45px;
      width: 45vw;
      color: white;

      a {
        display: inline-block;
        height: 45px;
        width: 10vw;
        position: relative;
        top: -10px;
      }
    }

    .connect-cont {
      display: inline-block;
      height: 45px;
      float: left;
      clear: none;

      .connect, ul p {display: none;}

      ul {
        display: inline-block;
        width: 55vw;
        padding-top: 2px;

        li {
          display: inline-block;
          width: 10vw;
          float: left;
          clear: none;
          margin-left: 1.5vw;

          &:first-of-type {margin-left: 10vw;}

          a {
            height: 85%;
            width: 20px;
            background-color: white;
            @include border-radius(20px);

            .fa {
              position: relative;
              top: 4px;
            }
          }

          .facebook {
            color: rgb(59, 89, 152);
          }

          .linkedin {
            color: #0077B5;
          }

          .google {
            color: rgb(223, 74, 50);
          }
        }
      }
    }
  }

  .title { display: none;}
}

/* NAV BAR */
@media screen and (min-device-width: $max-width-med) {
  .current_page { display: none;}

  nav {
    display: inline-block;
    float: left;
    clear: none;
    width: 12.5vw;
    min-width: 170px;
    height: 65vh;
    border-right: 1px solid black;


    #nav-list {
      display: block;
      width: 75%;
      height: 50%;
      margin-top: 65px;
      padding-left: 7.5%;

      li {
        display: block;
        width: 100%;
        height: 17.5%;

        border-bottom: 2px solid #557CD4;

        p {
          padding-top: 12px;
          padding-left: 8px;
          font-family: "Playfair Display", "Times New Roman", serif;
          font-size: 1.3em;
        }
      }
    }
  }

  .connect-cont {
    display: block;
    width: 85%;
    margin-top: 0.95rem;
    margin-left: 7.5%;
  }

  nav .connect {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-style: italic;
    font-size: 1.3vw;
    color: #444;
    padding-bottom: 4px;
  }

  .social-list li {
    display: block;
    width: 100%;
    padding: 5%;
  }

  .social-list i {
    display: inline;
    width: auto;
    font-size: 2.2vw;
  }

  .facebook {
    color: rgb(59, 89, 152);
  }

  .linkedin {
    color: #0077B5;
  }

  .google {
    color: rgb(223, 74, 50);
  }

  .social-list p {
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: auto;
    padding-left: 5%;
    font-size: 1.1vw;
  }
}