.ghost-btn {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.9375em;
  letter-spacing: 1px;
  border: 1.5px solid white;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  color: white;
  padding: 0.5375em 1.375em;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));

  &:hover {
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)) white;
    color: black;
  }
}