/**
Bootstrap breakpoint overrides
*/
$grid-breakpoints: (
    xs: 0,
    sm: 375px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 340px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);